<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/postpicture.css">

</head>

<body>
    <header class="header">
        <div class="container background">
            <div class="login-form">
                <img src="../public/image/instagram header.png" alt="">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="url">Picture URL:</label>
                        <input type="text" id="url" name="url" class="form-control" placeholder="Picture url ...">
                    </div>
                    <div class="form-group">
                        <label for="caption">Caption:</label>
                        <textarea name="caption" id="caption" cols="1" rows="5" class="form-control" placeholder="Tell them something about this picture!"></textarea>
                        <!-- <textarea type="text" id="caption" name="caption" class="form-control" placeholder="Tell them something about this picture!"> -->
                    </div>
                    <div class="text-center">
                        <button class="button button--moema button--custom">
                            POST </button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>