GLOBAL CSS */
html{
    font-size: 20px;
}


/* END GLOBAL CSS */

/* HEADER CSS */
.myNavBar{
    border-bottom: 1px solid rgb(226, 226, 226);    
}
.myNavBar .navbar-brand img{    
    width: 3rem;
    height: 3rem;
}

.myNavBar .insta-header img{    
   height: 3rem;
   width: 8rem;
}

.myNavBar .input__search{
    width: 100%;        
}


.myNavBar .input__search .input-group .input-group-text:hover{
    background-color: #7986cb;
    cursor: pointer;
}


.buttonControl a{
    font-size: 1rem;
    margin: 0 1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.navbar-middle{
    text-align: center;
}

.navbar-right{
    text-align: right;
}

/* END HEADER CSS */

/* USER CSS */

.user .container{
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.avatarUserControl img{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-top: 3rem;
    margin-left: 6rem;
}


.firstUserControl{
    margin-top: 3rem;
    
}
.firstUserControl > span{
    font-size: 1.5rem;
    font-weight: 100;
    margin-right: 0.5rem;
    
}
.user .firstUserControl .settingButtonControl:hover{
    background-color: #7986cb;
}

.buttonControl{
    padding: 0;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.buttonControl .fa{
    padding-left: -1rem;
}

.secondUserControl{
    margin-left: 0.8rem;
    margin-top: 0.8rem;
}

.secondUserControl span{
    font-weight: 600;
    font-size: 0.8rem;
}

.secondUserControl .posts{
    font-size: 0.8rem;
    margin-right: 2rem;
}

.secondUserControl .followers{
    font-size: 0.8rem;
    margin-right: 2rem;
}

.secondUserControl .following{
    font-size: 0.8rem;
    margin-right: 2rem;
}

.thirdUserControl {
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

.thirdUserControl .userName {
    font-weight: 600;
}
/* END USER CSS */

/* PHOTO CSS */
.photoList{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.photo-item {
    width: 350px;
    height: 350px;
    overflow: hidden;    
    position: relative;
    cursor: pointer;
}

.photo-item img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.photo-info{    
    color: white;       
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    opacity: 0;
    text-align: center;
    padding-top: 40%;
    transition: all 0.8s linear 0s;    
}

.photo-item:hover .photo-info{
    opacity: 1;
}
/*.photo-item2:hover .photo-info{
    opacity: 1;
}
.photo-item3:hover .photo-info{
    opacity: 1;
}
.photo-item4:hover .photo-info{
    opacity: 1;
}
.photo-item5:hover .photo-info{
    opacity: 1;
}
.photo-item6:hover .photo-info{
    opacity: 1;
}
.photo-item7:hover .photo-info{
    opacity: 1;
}
.photo-item8:hover .photo-info{
    opacity: 1;
}
.photo-item9:hover .photo-info{
    opacity: 1;
}*/



/* END PHOTO CSS 