/*GLOBAL CSS */

html{
    font-size: 20px;
}

/* Moema */
.button--moema {
    border: none !important;    
    margin-top: 1rem;
	padding: .5em 3em;
	border-radius: 50px;
	background: #7986cb;
	color: rgba(36, 36, 36, 0.897);
	-webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    
}
.button--moema.button--inverted {
	background: #ECEFF1;
	color: #37474f;
}
.button--moema::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: inherit;
	border-radius: 50px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #ECEFF1;
	background-color: #3f51b5;
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}
.button--moema.button--inverted:hover {
	color: #ECEFF1;
	background-color: #7986cb;
}
.button--moema:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.buton-custom {
    padding: 3px 5px;
}

/* END GLOBAL CSS */

/* HEADER CSS */
.header .container {
    padding: 0;
}

.background {
	width: 100%;
    background-image: url(../../image/login_registration.jpg);
    height: 38rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.login-form > img{
    width: 18rem;
    margin-left: 0.8rem;
    margin-bottom: 2rem;
}


.login-form{
    color: white;
    width: 25rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-bottom-right-radius: 10%;
    
    padding: 3rem;
    padding-top: 4rem;
    
}

textarea {
    resize: none;
  }
/* END HEADER CSS */

